pre {
    overflow-x: auto;
    padding: 1rem 0;
}

pre [data-line] {
    padding: 0 1rem;
}

.toc-card {
    @apply sticky top-10 pl-4 max-h-[80vh] overflow-y-scroll;
}

.toc-card::-webkit-scrollbar {
    width: 0;
}

.toc-link {
    @apply font-newsreader text-base font-semibold;
    text-decoration: none !important;
}

.toc-link {
    display: inline-block;
    border-radius: 0.25rem;
    transition: background-color 0.2s;
    scroll-margin-top: 3rem;
    @apply text-slate-800 dark:text-slate-100 font-sans font-light text-base hover:font-semibold;
}

.is-active-link {
    @apply font-semibold;
}

.toc-list {
    list-style-type: none;
    padding-left: 0.5em;
    gap: 0.2rem;
}

[data-rehype-pretty-code-figure] {
    @apply relative;
}

[data-rehype-pretty-code-figure] [data-line] {
    @apply inline-block min-h-[1.5rem] w-full px-4 py-0.5;
}

[data-rehype-pretty-code-figure] [data-line-numbers] [data-line] {
    @apply px-2;
}

[data-rehype-pretty-code-figure] [data-line-numbers] > [data-line]::before {
    @apply text-xs text-zinc-50/40;
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1.8rem;
    margin-right: 1.4rem;
    text-align: right;
}


[data-rehype-pretty-code-figure] > div {
    @apply bg-zinc-800 rounded-none;
}

[data-rehype-pretty-code-figure] > div > pre {
    @apply rounded-b-lg m-0;
}

[data-rehype-pretty-code-title] {
    @apply bg-zinc-700 text-zinc-200 font-sans font-semibold text-sm py-3 rounded-t-lg px-4 dark:bg-zinc-800 dark:text-zinc-300;
}

[data-rehype-pretty-code-title] + pre {
    @apply mt-2;
}

[data-rehype-pretty-code-title] + pre > code {
    @apply rounded-b-lg;
}

[data-rehype-pretty-code-title] + pre > code::before {
    content: '';
    display: block;
    height: 0.5rem;
}

[data-rehype-pretty-code-title] + pre > code::after {
    content: '';
    display: block;
    height: 0.5rem;
}